
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<!-- Content Wrapper -->
<div class="login-wrapper">
    <div class="container-center">
        <div class="panel panel-bd">
            <div class="panel-heading">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe-7s-refresh-2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Resetear Clave</h3>
                        <small><strong>Por favor llene el formulario para recuperar su clave</strong></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <p>Digite su email para recibir informacion de como resetear su clave.</p>
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input id="email" class="form-control" name="email" placeholder="Por favor digite su correo" type="password">
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-base btn-block" href="#">Resetear Clave</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->