<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AdminPix</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="/assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS --> 
    <link href="/assets/plugins/toastr/toastr.min.css" rel=stylesheet type="text/css"/>
    <link href="/assets/plugins/emojionearea/emojionearea.min.css" rel=stylesheet type="text/css"/>
    <link href="/assets/plugins/monthly/monthly.min.css" rel=stylesheet type="text/css"/>
    <link href="/assets/plugins/amcharts/export.css" rel=stylesheet type="text/css"/>
    <!-- START THEME LAYOUT STYLE -->
    <link href="/assets/dist/css/style.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- START CORE PLUGINS -->
    <script src="/assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="/assets/plugins/lobipanel/lobipanel.min.js"></script>
    <script src="/assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/toastr/toastr.min.js"></script>
    <!-- sparkline Js -->
    <script src="/assets/plugins/sparkline/sparkline.min.js"></script>
    <!-- counterup Js -->
    <script src="/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="/assets/plugins/counterup/waypoints.js"></script>
    <!-- emojionearea Js -->
    <script src="/assets/plugins/emojionearea/emojionearea.min.js"></script>
    <script src="/assets/plugins/monthly/monthly.min.js"></script>
    <!-- chartJs Js -->
    <script src="/assets/plugins/chartJs/Chart.min.js"></script>
    <!-- footable-bootstrap Js -->
    <script src="/assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <!-- START THEME LABEL SCRIPT -->
    @*<script src="/assets/dist/js/page/dashboard2.js"></script>*@
    <script src="/assets/dist/js/theme.js"></script>
    <script src="/assets/dist/js/angular.min.js"></script>
    <script>
        // A $( document ).ready() block.
        $(document).ready(function () {
            //remove active li's
            $("#inicioLi").removeClass("active");
            $("#clientsLi").removeClass( "active");
            $("#prestamosLi").removeClass( "active");
        });
    </script>
</head>
<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <a href="index.html" class="logo">
                <!-- Logo -->
                <span class="logo-mini">
                    <!--<b>A</b>H-admin-->
                    <img src="/assets/dist/img/logo-mini.png" alt="img">
                </span>
                <span class="logo-lg">
                    <!--<b>Admin</b>H-admin-->
                    <img src="/assets/dist/img/logo.png" alt="img">
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" role="button">
                    <!-- Sidebar toggle button-->
                    <span class="sr-only">Toggle navigation</span>
                    <span class="ti-menu-alt"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            @*<form class="navbar-form hidden-xs" role="search">
                                <div class="input-group add-on">
                                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </form>*@
                        </li>
                        <li class="dropdown dropdown-settings">
                            <a href="#" class="dropdown-toggle bubbly-button" data-toggle="dropdown"> <i class="fa fa-bell-o"></i><span class="badge fadeAnim">2</span></a>
                            <div class="notification-box dropdown-menu animated bounceIn">
                                <div class="notification-header">
                                    <h4>2 new notifications</h4>
                                    <a href="#">clear all</a>
                                </div>
                                <div class="notification-body">
                                    <ul class="notification_inner">
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-commenting"></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>3 new comments</h4>
                                                    <span>40 seconds ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>You have received 1 email</h4>
                                                    <span>5 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>You have transferred $50</h4>
                                                    <span>8 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>Someone likes your post</h4>
                                                    <span>13 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-ban "></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>Someone banned your post</h4>
                                                    <span>20 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-notification">
                                                <div class="notification-img">
                                                    <i class="fa fa-trash"></i>
                                                </div>
                                                <div class="notification-txt">
                                                    <h4>Someone deleted your post</h4>
                                                    <span>36 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="notification-footer">
                                    <a href="#">see all notification<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-settings">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="ti-email"></i><span class="badge fadeAnim">3</span></a>
                            <div class="dropdown-menu msg_box">
                                <div class="message-header">
                                    <h4>3 new messages</h4>
                                </div>
                                <div class="message-body">
                                    <div class=message_inner2>
                                        <div class=message_widgets>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Farzana Yasmin</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status available pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar2.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Mubin Khan</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status away pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar3.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Mozammel Hoque</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status busy pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar4.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Tanzil Ahmed</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm  available...</p>
                                                    <span class="profile-status offline pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar5.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Amir Khan</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status available pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Salman Khan</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status available pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Farzana Yasmin</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status available pull-right"></span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class=inbox-item>
                                                    <div class=inbox-item-img><img src="assets/dist/img/avatar4.png" class=img-circle alt=""></div>
                                                    <strong class=inbox-item-author>Tanzil Ahmed</strong>
                                                    <span class=inbox-item-date>-13:40 PM</span>
                                                    <p class=inbox-item-text>Hey! there I'm available...</p>
                                                    <span class="profile-status offline pull-right"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-footer">
                                    <a href="#">see all messages<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-settings">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="ti-menu"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Superadmin</a></li>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">HR</a></li>
                                <li><a href="#">Manager</a></li>
                                <li><a href="#">Editor</a></li>
                                <li><a href="#">Subscriber</a></li>
                                <li><a href="#">User</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="ti-user"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="profile.html"><i class="ti-user"></i> User Profile</a></li>
                                <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
                                <li><a href="/Login"><i class="ti-key"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Tab panes -->
            <aside class="main-sidebar">
                <!-- sidebar -->
                <div class="sidebar">
                    <!-- sidebar menu -->
                    <ul class="sidebar-menu">
                        <li id="inicioLi"><a href="/Home"><i class="ti-home"></i>Inicio</a></li>
                        <li id="solicitudesLi"><a href=""><i class="ti-pencil-alt"></i>Solicitudes</a></li>
                        <li id="clientsLi"><a href="/Clients"><i class="ti-user"></i>Clientes</a></li>
                        <li id="prestamosLi"><a href="/Prestamos"><i class="ti-money"></i>Prestamos</a></li>
                        <li id="pagosLi"><a href=""><i class="ti-credit-card"></i>Pagos</a></li>
                        <li id="seguimientosLi"><a href=""><i class="ti-bell"></i>Seguimientos</a></li>
                        <li id="rutaDiariaLi"><a href=""><i class="ti-car"></i>Ruta Diaria</a></li>
                        <li id="reportesLi"><a href=""><i class="ti-bar-chart"></i>Reportes</a></li>
                    </ul>
                </div> <!-- /.sidebar -->
            </aside>
        </header>
        <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <br/>
        @RenderBody()
    </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">AdminPix</div>
            <strong>Copyright &copy; 2018</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
        </footer>
    </div> <!-- ./wrapper -->

</body>
</html>