
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="modal fade modal-success" id="modal-clientes" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title">Prestamos</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-bd lobidrag">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Office</th>
                                                    <th>Age</th>
                                                    <th>Start date</th>
                                                    <th>Salary</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>System Architect</td>
                                                    <td>Edinburgh</td>
                                                    <td>61</td>
                                                    <td>2011/04/25</td>
                                                    <td>$320,800</td>
                                                    <td>
                                                        <button class="btn btn-base btn-sm" data-toggle="tooltip" data-placement="left" title="Seleccionar"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Garrett Winters</td>
                                                    <td>Accountant</td>
                                                    <td>Tokyo</td>
                                                    <td>63</td>
                                                    <td>2011/07/25</td>
                                                    <td>$170,750</td>
                                                    <td>
                                                        <button class="btn btn-base btn-sm" data-toggle="tooltip" data-placement="left" title="Seleccionar"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row">
        <div class="form-inline">
            <label>Buscar Por</label>
            <div class="form-group addon-md input-left-icon">
                <select class="form-control">
                    <option>Select Option</option>
                    <option>Sample</option>
                    <option>Sample</option>
                </select>

            </div>
            <div class="form-group input-group input-group-md">
                <div class="icon-addon addon-md">
                    <input type="text" placeholder="" class="form-control" id="5">
                    <label class="ti-search" title="email"></label>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-clientes">Buscar</button>
                </span>
            </div>
        </div>
        <!-- Textual inputs -->
        <br />
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Prestamo ID: 0535</h4> <br/>
                        <h4>Cliente: Manuel Bautista - 001-1791726-0</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="fechaPrestamo">Fecha del Pago</label>
                            <input class="form-control" type="date" value="2011-08-19T13:45:00" id="fechaPago">
                        </div>

                        <div class="form-group">
                            <label for="monto">Monto</label>
                            <input class="form-control" type="number" value="0" id="monto">
                        </div>

                        <div class="form-group">
                            <label for="viadepago">Via de Pago</label>
                            <select class="form-control" id="viadepago">
                                <option>Deposito</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="viadepago">Via (Banco)</label>
                            <select class="form-control" id="viaBanco">
                                <option>Popular</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="referencia">Referencia</label>
                            <input type="email" class="form-control" id="referencia" aria-describedby="emailHelp" placeholder="Referencia del Deseembolso">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="email" class="form-control" id="descripcion" aria-describedby="emailHelp" placeholder="Descripcion del Deseembolso">
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="costos">Costos</label> <input class="form-control" disabled="disabled" id="costos" placeholder="0" type="text">
                            </div>
                            <div class="form-group">
                                <label for="moras">Moras</label> <input class="form-control" disabled="disabled" id="moras" placeholder="0" type="email">
                            </div>
                            <div class="form-group">
                                <label for="interes">Interes</label> <input class="form-control" disabled="disabled" id="interes" placeholder="0" type="text">
                            </div>
                            <div class="form-group">
                                <label for="capital">Capital</label> <input class="form-control" disabled="disabled" id="capital" placeholder="0" type="email">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-base pull-right">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    // A $( document ).ready() block.
    $( document ).ready(function() {
        $("#pagosLi").addClass( "active");
    });
</script>

