
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="presysClient" ng-controller="clientsController">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabCliente" data-toggle="tab">Cliente</a></li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabCliente">
                 <div class="panel-body">

                                <div>
                                    <div class="form-group">
                                        <label for="Identificacion">Identificacion</label>
                                        <input type="text" class="form-control" id="Identificacion" aria-describedby="emailHelp" placeholder="Digite la identificaion" ng-model="Identificacion">
                                    </div>
                                    <div class="form-group">
                                        <label for="Nombres">Nombres</label>
                                        <input type="text" class="form-control" id="Nombres" aria-describedby="emailHelp" placeholder="Digite el nombre completo" ng-model="Nombres">
                                    </div>
                                    <div class="form-group">
                                        <label for="Identificacion">Apellidos</label>
                                        <input type="text" class="form-control" id="Apellidos" aria-describedby="emailHelp" placeholder="Digite los apellidos" ng-model="Apellidos">
                                    </div>
                                    <div class="form-group">
                                        <label for="fechaNac">Fecha Nac</label>
                                        <input class="form-control" type="date" value="2011-08-19" id="fechaNac" ng-model="fechaNac">

                                    </div>
                                    <div class="form-group">
                                        <label for="Nacionalidad">Nacionalidad</label>
                                        <input type="text" class="form-control" id="Nacionalidad" aria-describedby="emailHelp" placeholder="Digite la nacionalidad" ng-model="Nacionalidad">
                                    </div>

                                    <fieldset class="form-group">
                                        <legend>Genero</legend>
                                        <div>
                                            <label class="form-check-label">
                                                <input type="radio" name="optionsRadios" id="optionsRadioFemenino" value="optionRadioFemenino" ng-model="optionRadioFemenino" checked>
                                                Femenino
                                            </label>
                                        </div>
                                        <div>
                                            <label class="form-check-label">
                                                <input type="radio" name="optionsRadios" id="optionsRadioMasculino" ng-model="optionsRadioMasculino" value="optionRadioMasculino">
                                                Masculino
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        <label for="EstadoCivil">Estado Civil</label>
                                        <select class="form-control" id="EstadoCivil" ng-model="EstadoCivil" ng-options="x for x in EstadosCiviles">
                                            @*<option>Casado</option>
                                            <option>Soltero</option>*@
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Profesion">Profesion</label>
                                        <input type="text" class="form-control" id="Profesion" aria-describedby="emailHelp" placeholder="Digite la profesion" ng-model="Profesion">
                                    </div>
                                    <div class="form-group">
                                        <label for="Apodo">Apodo</label>
                                        <input type="text" class="form-control" id="Apodo" aria-describedby="emailHelp" placeholder="Digite el apodo" ng-model="Apodo">
                                    </div>
                                    <div class="form-group">
                                        <label for="numHijos">Cuantos hijos tienes?</label>
                                        <input class="form-control" type="number"  id="numHijos" ng-model="numHijos">
                                  
                                    </div>
                                    <button  ng-click="saveClient()"  class="btn btn-base pull-right">Guardar</button>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</div>

<script>
    // A $( document ).ready() block.
    $( document ).ready(function() {
        $("#clientsLi").addClass( "active");
    });
</script>